// Home Content

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    .walk-text {
      width: 50%;

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }
}// home
.home .walk .walk-text .button{
  background-color: #040c29;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  font-family: @font-family;
  &:hover{
    background-color: skyblue;
    color: black;
  }
}

@media (max-width:500px) {
  .sky{
    display: none;
  }
  .launch{
    display: none;
  }
  .space-images{
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }
  .home .space-images img{
    width: 100%;
    margin: 20px 2.5%;
    border-radius: 20px;
    height: 100%;
  }
  .visit-planets{
    padding: 15px;
  }

  .home .walk{

    padding: 15px 15px;
    margin-top: 20px;
  }

  .walk{
    display: flex;
    flex-direction: column;
  }

  .home .walk .walk-img{
    width: 100%;
    display: inline-block;
    object-fit: contain;
  }

  .walk-text{
    order: 2;
  }
  .home .walk .walk-text{
    width: 100%;
    padding-top: 4%;
  }

  .home .walk .walk-img {
    width: 100%;
    margin-left: 0%;
  }
  .home .walk .walk-text .button{
    background-color: #040c29;
    border: none;
    color: white;
    padding: 10px 195px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    font-family: @font-family;
  }
}


  //.home .walk .walk-text .button{
    //.button(#040c29; none;white; 10px 195px; center; none; inline-block; 18px; 4px; @font-family;)
  //}
